{
  // https://github.com/babel/babel-loader#options
  // cacheDirectory: true,
  "presets": [
    [
      'es2015',
      {
        // loose: true, // seems to be encouraged TODO more research
        modules: false, // "Webpack 2 in ES modules mode" aka native es2015 modules (for tree shaking)
      }
    ],
    'stage-0',
    'react'
  ],

  "env": {
    // only enable when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        [
          'react-css-modules',
          {
            generateScopedName: '[path]__[name]__[local]__[hash:base64:5]',
            context: 'src', // Must be same as webpack's context
          }
        ],
        "react-hot-loader/babel"
      ]
    },

    "test": {
      "plugins": [
        // https://facebook.github.io/jest/docs/tutorial-webpack.html#webpack-2
        // webpack 2 offers native support for ES modules. However, Jest runs in
        // Node, and thus requires ES modules to be transpiled to CommonJS modules
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
