.wrapper {
  display: inline;
}

.icon {
  fill: currentcolor;
  width: auto;
  height: 0.83399em; /* or else icons are slightly bigger than font size.
                        noticed when when IconButton was bigger than Button */
}
