@import 'styles/_variables.css';
@import '../Card.css';

/* TODO */
$think-of-a-good-name: 0.25em;

.wrapper {
  padding: $content-padding;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  :global {
    .card-title {
      + .card-body {
        margin-top: $think-of-a-good-name;
      }
    }

    /* TODO just put into Actions.css? I mean,
     * I don't think there's ever going to be
     * action-only cards... right? */
    * + .card-actions {
      border-top: 1px solid $border-color;
      margin-top: $content-padding;
      margin-right: -$content-padding;
      margin-left: -$content-padding;
      padding-top: $content-padding;
      padding-right: $content-padding;
      padding-left: $content-padding;
    }
  }
}
