@import 'styles/_variables.css';

.wrapper {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 500px; /* breathing room */

  > section {
    + section {
      margin-top: 2rem;
    }
  }
}

.message {
  + .message {
    margin-top: 1rem;
  }
}

.create-message-example {
  + .create-message-example {
    margin-left: 1rem;
  }
}
